
@media (max-width: 1200px)
  .container
    padding: 0 80px
  .about
    .about__wrap
      width: auto
  .coast
    .coast__info
      padding-left: 20px
      padding-right: 20px

  .support
    .support__items
      justify-content: center
      align-items: center
      flex-direction: column
      justify-content: center
      .item2
        padding-top: 28px
        padding-bottom: 28px

  .coast
    .coast__advantages
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      gap: 25px
      .coast__advantages_item
        margin-right: 0
        max-width: 400px
        width: 100%

  @media (max-width: 1100px)
  .container
    padding: 0 60px

  .header
    h1
      font-size: 2.5em

  .coast
    .coast__info
      p
        margin-right: 15px
        max-width: 500px

  @media (max-width: 1024px)
  .container
    padding: 0 50px

  .header__nav_link
    margin-right: 20px

  .about
    .about__wrap
      border-radius: 48px
      padding-bottom: 42px
      margin-bottom: 84px
      flex-direction: column
      justify-content: center
      align-items: center
      height: 100%
      padding-left: 0

      .about__wrap-img
        width: 407px
        height: 352px
        align-self: center

      .about__wrap-content
        margin-top: 0

        p
          display: none

  .programm
    .programm__content
      margin-bottom: 26px
      display: flex
      flex-direction: column
      align-items: center
      gap: 50px
      padding: 36px 58px 39px 20px

      .programm__content_step
        padding: 0px

    .programm__video
      top: 55%

    .programm__separator
      width: 259px
      height: 1px

  .support
    .support__items
      justify-content: center
      align-items: center
      flex-direction: column
      flex-wrap: nowrap
      .item2
        padding-top: 28px
        padding-bottom: 28px

  .coast
    .inner
      padding-top: 60px
      padding-bottom: 60px

      .coast__content
        table
          thead
            th:first-child
              width: 50%

            th:nth-child(2)
              width: 25%

      .coast__advantages
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        gap: 25px
        .coast__advantages_item
          margin-right: 0
          max-width: 400px
          width: 100%

      .coast__info
        p
          margin-right: 10px
          max-width: 450px

  @media (max-width: 900px)
    body
      font-size: 15px
      .programm
        .programm__content
          margin-bottom: 26px
          padding: 35px 20px 35px 20px

  @media (max-width: 768px)
    body
      font-size: 14px
      .container
        padding: 0 30px

        .header__menu
          margin: 0 auto
          margin-bottom: 24px
          padding: 6px 12px 6px 12px

        .header__content
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          margin-bottom: 56px

        .header__content_img
          img
            margin-right: 0px

        .header__content_intro
          max-width: 650px
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          margin-bottom: 63px

          h1
            max-width: 500px
            text-align: center

        .header__menu_logo
          margin-right: 20px

        .header__nav_links
          display: none

        .header__menu_button-wrap
          margin-left: -50px
          button:first-child
            display: none

        .burger
          display: block

        .support__items
          padding: 10px
          gap: 12px

          .item2, .item3
            max-width: 600px
            width: 100%
            // max-height: 285px
            padding-left: 20px
            padding-right: 20px
            padding-top: 38px

        .programm_button-wrap
          max-width: 538px
          width: 100%
          height: auto
          flex-direction: column
          justify-content: center
          align-items: center
          padding: 11px 25px 22px 25px
          gap: 12px
          text-align: center
          .button_start
            width: 249px
            gap: 7px
            color: #ffffff
            font-size: 16px
            margin-left: 0
            margin-right: 0

          .programm_button-wrap-text
            font-size: 13px

        .footer__content_links
          gap: 25px
          margin-right: 100px

        .footer__terms-of-service
          margin-right: 15px

        .footer__copyrights
          a, span
            display: block

        .button_start
          width: 299px
          gap: 7px
          color: #ffffff
          font-size: 18px

      .coast
        .inner
          .coast__info
            height: auto
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 17px
            padding-top: 42px
            padding-bottom: 54px
            padding-left: 20px
            padding-right: 20px
            p
              margin-right: 0px
              text-align: center
            img
              margin-right: 0px

            .button_start
              font-size: 1.25em
              line-height: 110%
              letter-spacing: -0.03em
              padding-left: 0px
              gap: 18px
              text-align: center
              margin-bottom: 0px
              margin-right: 0px

  @media (max-width: 650px)
    body
      font-size: 12px
      .container
        padding: 0 10px

        .button_enter
          font-size: 12px

        .header__content_intro
          h1
            margin-bottom: 18px

        .header__separator
          max-width: 299px
          margin-bottom: 9px

        .subtitle
          margin-bottom: 21px
          font-size: 1em
          text-align: center

      .about
        .inner
          padding: 90px 0 12px 0
          h2
            margin-bottom: 22px
        .about__wrap-img
          display: none

        .about__wrap
          margin-bottom: 58px

        .about__cards
          gap: 10px

      .programm
        .inner
          padding-bottom: 42px
          h2
            margin-bottom: 15px

        .programm__inner_subheading
          margin-bottom: 20px

        .programm__interactive
          width: 299px
          height: 173px
          margin-bottom: 22px

        .programm__video
          top: 65%
          img
            max-width: 58px
            height: 58px

        .programm__content

  @media (max-width: 578px)
    body

      .about
        .about__wrap
          .about__wrap-content
            height: auto

          .about__wrap-content-langs
            margin: 0 auto
            max-width: 269px
            margin-bottom: 0px
            display: flex
            justify-content: space-between
            gap: 10px

          .about__wrap-content-langs_item
            font-size: 1.166em
            line-height: 331%
            text-align: center

        .small-icon
          @include width_height(99px, 45px)

        .middle-icon
          @include width_height(160px, 45px)

        .large-icon
          @include width_height(266px, 45px)

      .coast
        margin-bottom: 37px
        .inner
          padding: 0
          padding-top: 60px
          .coast__content
            margin-bottom: 21px
            padding-top: 19px
            padding-bottom: 26px
            padding-left: 20px
            padding-right: 20px
            table
              tbody
                td
                  padding: 16px 19px
                  font-size: 1.083em

      .container
        .footer__wrapper
          flex-direction: column
          justify-content: space-between
          align-items: center
          padding-bottom: 32px

          .footer__about
            margin-bottom: 43px
            justify-content: center
            align-items: center

          .footer__about_logos
            margin-bottom: 25px
            span
              font-size: 1.25em

          .footer__about_social
            padding-left: 0px

          .footer__content
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

          .footer__content_links
            margin-right: 0px
            justify-content: center
            align-items: center
            margin-bottom: 43px
            a
              font-size: 1.083em

          .footer__content_contacts
            padding-right: 0px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center

          .footer__content_contacts-info
            margin-bottom: 35px
            gap: 4px
            font-size: 1.333em

          .footer__content_contacts-tax_information
            font-size: 1.083em
            line-height: 177%
            color: #8e8e8e
      footer
        .inner
          .footer__separator
            max-width: 300px
            margin-bottom: 25px

          .footer__copyrights
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            padding-top: 0px
            padding-bottom: 23px
            font-size: 1em
            span
              margin-bottom: 13px

            .footer__copyright
              gap: 6px

            .footer__terms-of-service
              margin-right: 0px

  @media (max-width: 430px)
    body
      .container
        .header__content
          margin-bottom: 15px

        .header__menu_button-wrap
          .button_enter
            width: 77px
            height: 28px
            font-size: 0.833em

        .header__content_intro
          h1
            width: 288px
            text-align: center
            font-size: 2em

          .title_symbol
            font-size: 1.66rem

        .header__content_img
          img
            width: 210px
            height: 219px

      .about
        .inner
          padding: 50px 0 12px 0

        h2
          font-size: 2em
          max-width: 225px
          margin: 0 auto
          &:nth-child(3)
            max-width: 310px

        .about__card
          width: 145px
          height: 175px
          padding: 0
          &:last-child
            flex-direction: row
            align-items: center
            justify-content: center
            gap: 17px
            min-width: 300px
            max-height: 86px
            h5
              margin-bottom: 1px
            img
              margin-bottom: 0
            div
              padding-top: 12px
              width: 163px
              height: 48px

          img
            width: 40px
            height: 40px
            margin-bottom: 9px
          h5
            margin-bottom: 4px
            font-size: 1em
          p
            font-size: 0.75em

      .programm .inner
        h2
          margin-bottom: 15px
          font-size: 2em
          max-width: 223px
        .programm__inner_subheading
          display: none
          &:nth-child(3)
            display: block
            max-width: 276px
            font-size: 1em
        .programm__video
          span
            font-size: 0.833em

        .programm__content
          margin-bottom: 20px
          max-width: 300px
          // height: 689px
          // padding: 36px 36px 39px 0px
          padding: 0
          padding-top: 36px
          padding-bottom: 39px
          gap: 0

        .programm__content_step
          padding: 0px
          // padding-left: 30px
          max-width: 222px

        .programm__content_heading
          line-height: 60%
          font-size: 4.16em
          margin-bottom: 7px

        .programm__content_subheading
          display: none

        .programm__content_subheading-2
          display: block
          font-size: 1.416em
          line-height: 95%
          margin-bottom: 14px
          font-family: $second-family
          font-weight: 600
          line-height: 112%

        .programm__content_text
          display: none

        .programm__content_text-2
          display: block
          max-width: 218px
          font-family: $font-family
          font-weight: 400
          font-size: 1em
          line-height: 117%
          margin-bottom: 18px

        .programm__separator
          margin-bottom: 26px

        .programm_button-wrap
          border-radius: 30px
          max-width: 300px
          width: 100%
          height: 151px
          padding: 0

        .programm_button-wrap-text
          font-size: 1.083em
          line-height: 138%
          max-width: 249px
          width: 100%

      .support
        .support__items
          .item1
            border-radius: 30px
            max-width: 300px
            width: 100%
            height: 243px
            // padding: 34px 47px 34px 48px
          img
            width: 205px
            height: 175px

          .item2
            border-radius: 30px
            max-width: 280px
            min-height: 285px
            width: 100%
            padding: 0
            padding-left: 20px
            justify-content: center

            h3
              margin-bottom: 18px
              font-size: 1.666em
              line-height: 95%

            .support__item-text
              margin-bottom: 18px
              font-size: 1em
              line-height: 142%
              max-width: 220px
              width: 100%
              &:last-child
                margin-bottom: 0

          .item3
            border-radius: 30px
            max-width: 280px
            height: 232px
            width: 100%
            padding: 0
            padding-left: 20px
            display: flex
            flex-direction: column
            justify-content: center

            h3
              margin-bottom: 15px
              font-size: 1.666em
              line-height: 95%

            .support__item-text
              margin-bottom: 0px
              font-size: 1em
              line-height: 142%
              max-width: 220px
              width: 100%

          .support__item:nth-child(3)
            order: 4
          .item4
            border-radius: 30px
            width: 300px
            height: 243px
            padding: 0
            img
              width: 206px
              height: 207px

      .coast
        .inner
          // padding: 60px 45px 20px 40px

          h2
            font-size: 1.833em
            line-height: 118%

          .coast__advantages
            margin-bottom: 22px
            max-width: 246px
            width: 100%

          .coast__advantages_item

            margin-right: 0
            flex-direction: column
            align-items: center
            gap: 10px

            img
              margin-right: 0

            .coast__advantages_item-text
              font-size: 1em
              line-height: 142%
              text-align: center

          .coast__phone
            display: block

          .coast__content
            table
              thead
                th:first-child
                  width: 5%

                th:nth-child(2)
                  display: none

                th:nth-child(3)
                  display: none
            table
              tbody
                td:first-child
                  width: 5%

                td:nth-child(2)
                  display: none

                td:nth-child(3)
                  display: none

          span
            font-size: 1.583em
            line-height: 132%

          .coast__content-text
            max-width: 196px
            padding-left: 40px
            margin-bottom: 47px
            font-size: 1em
            line-height: 167%

          .coast__info
            height: auto
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 17px
            padding-top: 38px
            padding-bottom: 54px
            padding-left: 20px
            padding-right: 20px

            p
              padding: 0

            .button_start
              width: 257px
              height: 60px
              font-size: 1.25em
              line-height: 97%
